# For data manipulation and numerical operations
pandas~=2.3.0
numpy~=2.2.5

# For sentiment analysis
textblob~=0.19.0

# For plotting and visualization
matplotlib~=3.10.3
seaborn~=0.13.2
recordlinkage~=0.16
beautifulsoup4~=4.13.4
selenium~=4.33.0
google~=3.0.0
requests~=2.32.3